<mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile>
        <h1>My Events</h1>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let event of secureData['eventArray']">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Event Name: {{event.eventName}}</mat-card-title>
                <mat-card-subtitle>Time: {{event.time}}</mat-card-subtitle>
                <mat-card-subtitle>Date: {{event.date | date:'mediumDate'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{event.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button (click)="getAttendEvent(event.eventID)">No Longer Attending</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>