<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--
Login name: <input type='text' [(ngModel)]='username' /><br/> Password: <input type='text' [(ngModel)]='password' /><br/>
<input type='button' value='login' (click)='login()' />
<br/><br/> Token: {{token}}<br/> Message: {{message}}
<br/><br/>

<input type='button' value='Logout' (click)='logout()'>
<br/><br/>

<input type='button' value='Get Secure Message' (click)='getSecureData()'><br/> {{secureData}}
<br/><br/>

<input type='button' value='Post Secure Message' (click)='postSecureEvent()'><br/> {{msgFromServer}}
<br/><br/>

-->